<div class="jumbotron">
  <h2><%= gettext "Welcome to %{name}!", name: "Phoenix" %></h2>
  <p class="lead">A productive web framework that<br />does not compromise speed and maintainability.</p>
</div>
<div>
  <ul>
    <li><%= link "Log in", to: "/sessions/new" %></li>
    <li><%= link "Polls", to: "/polls" %></li>
  </ul>
</div>