<h2>Show Poll</h2>

<ul>

  <li>
    <strong>Question:</strong>
    <%= @poll.question %>
  </li>

  <li>
    <strong>Created by:</strong>
    <%= participant_name(@poll) %>
  </li>
</ul>

<%= render TadpollWeb.VoteView, "form.html", changeset: @vote_changeset,
    action: poll_vote_path(@conn, :create, @poll) %>

<span><%= link "Edit", to: poll_path(@conn, :edit, @poll) %></span>
<span><%= link "Back", to: poll_path(@conn, :index) %></span>
